

<div id="component" class="d-flex flex-column vh-100" style="background-image: url('../../assets/images/hero-bg.jpg'); background-size: cover; background-position: center;" >
  

  <header class="d-flex">
    <a
      href="librarian"
      class="d-flex align-items-center px-2"
      style="background-color: #00afff"
    >
      <img src="../../../assets/images/left-arrow (3).png" height="32" />
    </a>
    <div
      class="flex-grow-1 d-flex p-3 align-items-center gap-3 "
      
    >
      <img
        src="../../../assets/images/220px-LNUTaclobanLogo-removebg-preview.png"
        height="64"
      />
      <h1 class="text-light">Library Management System</h1>
    </div>
  </header>

  <div class="flex-grow-1 d-flex flex-column gap-3 p-5 py-4  text-white">
    <span class="h4 m-0">Account Management</span>
    <div class="d-flex gap-3">
      
      
      

    
      
      <div class="flex-grow-1 table-responsive ">

        <div class="justify-self-end d-inline-block mb-3 ">
          <input
            type="search"
            class="form-control form-control-sm"
            placeholder="Search"
            [formControl]="searchQuery"
            (input)="searchUsers()"
          />
        </div>
        <table class="table table-striped align-middle">
          <thead class="table-dark">
            <tr>
              <th scope="col">First name</th>
              <th scope="col">Last name</th>
              <th scope="col">ID Number</th>
              <th scope="col">Email</th>
              <th scope="col">Type</th>
              <th scope="col">Contact</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.firstname }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.id_number }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.type }}</td>
              <td class="align-middle">{{ user.contact }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-sm btn-warning me-2"
                  data-bs-toggle="modal"
                  data-bs-target="#edit-modal"
                  (click)="clickEditUser(user.id_number)"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-secondary"
                  data-bs-toggle="modal"
                  data-bs-target="#activation-modal"
                  *ngIf="user.is_deactivated; else deactivateButton"
                  (click)="this.activationUser = user"
                >
                  Activate
                </button>
                <ng-template #deactivateButton>
                  <button
                    type="button"
                    class="btn btn-sm btn-danger"
                    data-bs-toggle="modal"
                    data-bs-target="#activation-modal"
                    (click)="this.activationUser = user"
                  >
                    Deactivate
                  </button>
                </ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  


</div>

<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Edit user</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          class="row g-3"
          [formGroup]="editUserForm"
          (ngSubmit)="editUserSubmit()"
        >
          <div class="col-12">
            <label class="form-label">First name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstname"
            />
          </div>
          <div class="col-12">
            <label class="form-label">Last name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastname"
            />
          </div>
          <div class="col-12">
            <label class="form-label">ID Number</label>
            <input
              type="text"
              class="form-control"
              formControlName="id_number"
            />
          </div>
          <div class="col-12">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="col-12">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
          </div>
          <div class="col-12">
            <label class="form-label">Account type</label>
            <select
              class="form-select"
              aria-label="Default select example"
              formControlName="type"
            >
              <option value="librarian">Librarian</option>
              <option value="borrower">Borrower</option>
              <option value="librarian-aide">Librarian Aide</option>
            </select>
          </div>
          <div class="col-12">
            <label class="form-label">Contact</label>
            <input type="text" class="form-control" formControlName="contact" />
          </div>
          <div class="col-12 d-flex justify-content-end">
            <button
              class="btn btn-primary me-1"
              type="submit"
              data-bs-dismiss="modal"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="activation-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Deactivate/activate user</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-grid">
        Are you sure to
        {{ activationUser?.is_deactivated ? "activate" : "deactivate" }} this
        user?
        <span class="fs-4">
          {{ activationUser?.firstname + " " + activationUser?.lastname }}
        </span>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-danger"
          (click)="clickActivationUser()"
          data-bs-dismiss="modal"
        >
          {{ activationUser?.is_deactivated ? "Activate" : "Deactivate" }}
        </button>
        <button class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<app-alert />
